{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css"/>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>SourceFilt</title>
    <style>
        #animated-word {
            display: inline-block;
            color: #5E5DB6;
            font-size: inherit;
            font-weight: inherit;
            overflow: hidden;
            white-space: pre;
        }

        body{
                line-height: 1.5;
                font-family: 'Montserrat', sans-serif;
            }
    </style>
</head>
<body class="h-full" style="background-image: radial-gradient(#000000, #0e0d0d);">

    <div class="h-screen sm:hidden">
        <div class="flex flex-col justify-between p-4 text-sm text-white">
            <div class="flex justify-between items-center p-2">
                <div class="font-semibold">sourceFilt</div>
                <div class="flex flex-col">
                    <a href=""><img src={% static "mainapp/img/user.svg" %} class="w-5 h-5" id="userIcon" onclick="mobiletoggleList()"></a>
                    <ul class="py-10 absolute z-10 space-y-4 hidden" id="mobileuserList">
                        <li class=""><a href="{% url "signup" %}">Profil</a></li>
                        <li class=""><a href="{% url "login" %}">Giriş Yap</a></li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center">
                <h1 class="text-center text-xl sm:text-4xl font-semibold text-white sm:p-4 p-20 ">sourceFilt ile zamandan<span id="animated-word"> tasarruf edin...</span></h1>
                <img class="w-64 sm:w-80 transition-transform duration-500 transform hover:scale-105" src="{% static "mainapp/img/bg-layer.png" %}" style="width: 90%;">
            </div>
            <div class="flex justify-center space-x-4 p-10">
                <a href="{% url "index" %}" class="block transition-transform duration-500 transform hover:scale-105 text-white font-semibold py-2 px-4 rounded" style="background-color: #0f0d0d;">Ana Sayfa</a>
                <a href="{% url "source" %}" class="block transition-transform duration-500 transform hover:scale-105 text-white font-semibold py-2 px-4 rounded" style="background-color: #0f0d0d;">Kaynak Havuzu</a>
            </div>
        </div>
    </div>

    <div class="h-screen hidden sm:block pb-44">
        <div class="flex flex-row justify-between p-10 sm:p-20 text-md sm:text-2xl text-white">
            <div class="font-semibold justify-start">sourceFilt</div>
            <div class="flex flex-row space-x-4 sm:space-x-44 sm:block hidden">
                <a href ="{% url 'index' %}"><button class="">Ana Sayfa</button></a>
                <a href ="{%url 'source'%}"><button class="">Kaynak Havuzu</button></a>
            </div>
            <div class="flex flex-col">
                <img src="{% static "mainapp/img/user.svg" %}" class="w-4 h-4 sm:w-7 sm:h-7" id="userIcon" onclick="toggleList()">
                <ul class="flex absolute py-10 z-10  text-sm p-6 space-y-4 hidden" id="userList">
                    <li class=""><a href="{% url "signup" %}">Profil</a></li>
                    <li class=""><a href="{% url "login" %}">Giriş Yap</a></li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col space-y-12 justify-center items-center">
            <h1 class="flex justify-center text-3xl sm:text-8xl sm:p-14 font-semibold text-white">sourceFilt ile zamandan<span id="animated-word"> tasarruf edin...</span></h1>
            <img class="transition-transform duration-500 transform hover:scale-105" src="{% static "mainapp/img/bg-layer.png" %}" style="width: 40%;">
        </div>
    </div>
    <div class="container mx-auto w-full sm:pt-44 sm:pb-44">
        <div class="relative wrap overflow-hidden sm:p-10 h-full">
        <div class=" border-2-2 absolute border-opacity-20 border-white h-full border hidden sm:block" style="left: 50%"></div>
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="hidden sm:block order-1 w-5/12"></div>
            <div class="hidden sm:block z-20 flex items-center order-1 shadow-xl w-8 h-8 rounded-full" style="background-color: #272727";>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-11/12 sm:w-5/12 sm:px-6 px-8 py-4" style="background-color: #141414";>
            <p class="text-white text-xl">Zamandan tasarruf etmenin ve ihtiyaçlarınıza en uygun içerikleri keşfetmenin kolay bir yolu var. Sizin için özel olarak tasarlanmış SourceFilt'in akıllı filtreleme 
                istemiyle tanışın!</p>
            </div>
        </div>
        <div class="mb-8 flex justify-between sm:flex-row-reverse items-center w-full sm:left-timeline right-timeline">
            <div class="hidden sm:block order-1 w-5/12"></div>
            <div class="hidden sm:block z-20 flex items-center order-1 shadow-xl w-8 h-8 rounded-full" style="background-color: #272727";>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-11/12 sm:w-5/12 sm:px-12 px-8 py-4" style="background-color: #141414";>
            <p class="text-white text-xl">Farklı branşlarda, her seviyeye uygun (kolay - orta - zor) kaynakların bulunduğu zengin bir havuza 
                erişim sağlayabilirsiniz. </p>
            </div>
        </div>
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="hidden sm:block order-1 w-5/12"></div>
            <div class="hidden sm:block z-20 flex items-center order-1 shadow-xl w-8 h-8 rounded-full" style="background-color: #272727";>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-11/12 sm:w-5/12 sm:px-6 px-8 py-4" style="background-color: #141414";>
            <p class="text-white text-xl">SourceFilt sadece içerik sunmakla kalmıyor, aynı zamanda kişisel tercihlerinizi ve bilgi düzeyinizi de dikkate 
                alarak size en uygun seçenekleri öneriyor.</p>
            </div>
        </div>
      <div class="flex justify-between items-center w-full sm:flex-row-reverse sm:left-timeline right-timeline">
        <div class="hidden sm:block order-1 w-5/12"></div>
            <div class="hidden sm:block z-20 flex items-center order-1 shadow-xl w-8 h-8 rounded-full" style="background-color: #272727";>
            </div>
        <div class="order-1 rounded-lg shadow-xl w-11/12 sm:w-5/12 sm:px-6 px-8 py-4" style="background-color: #141414";>
          <p class="text-white text-xl">SourceFilt ile bilgiye doğru bir yolculuk için hemen bize katılın! Kaynaklarımızı keşfedin, sizi ilgilendiren 
            konuları derinlemesine öğrenmenin keyfini çıkarın!</p>
        </div>
      </div>
    </div>
  </div>

    <div class="flex flex-col space-y-20 sm:space-y-0 sm:flex-row sm:space-x-20 sm:p-20 p-44 justify-center items-center">
        <div class="h-96 w-96 text-white flex flex-col justify-center items-center rounded-lg shadow-lg" style="background-color: #141414";>
            <div class="flex flex-col items-center space-y-4">
                <div class="rounded-full" style="background-color: #0f0d0d;">
                    <img src="{% static "mainapp/img/book.svg" %}" class="h-24 w-24 p-4 justify-center items-center">
                </div>
                <p class="text-center p-6 text-xl">Sizin için en verimli kitapların listesi işte burada!</p>
            </div>
            <div class="mt-4">
                <a href="{% url "source" %}">
                    <button  class="text-white py-3 px-6 rounded-full text-lg transition-transform duration-500 transform hover:scale-105" style="background-color: #0f0d0d;">Kitap</button>
                </a>
            </div>
        </div>
        <div class="h-96 w-96 text-white flex flex-col justify-center items-center rounded-lg shadow-lg" style="background-color: #141414";>
            <div class="flex flex-col items-center space-y-4">
                <div class="rounded-full" style="background-color: #0f0d0d;">
                    <img src="{% static "mainapp/img/video.svg" %}" class="h-24 w-24 p-5 justify-center items-center">
                </div>
                <p class="text-center p-6 text-xl">Eğlenceli ve bilgilendirici videolar ile zamanınızı en iyi şekilde değerlendirin.</p>
            </div>
            <div class="mt-4">
                <a href="#">
                    <button class="text-white py-3 px-6 rounded-full text-lg transition-transform duration-500 transform hover:scale-105" style="background-color: #0f0d0d;">Video</button>
                </a>
            </div>
        </div>     
        <div class="h-96 w-96 text-white flex flex-col justify-center items-center rounded-lg shadow-lg" style="background-color: #141414";>
            <div class="flex flex-col items-center space-y-4">
                <img src="{% static "mainapp/img/podcast.svg" %}" class="h-24 w-24 rounded-full p-4" style="background-color: #0f0d0d;" >
                <p class="text-center p-6 text-xl">Kulaklığınızı takın ve podcast dünyasında bilgiyle dolu bir deneyime hazırlanın!</p>
            </div>
            <div class="mt-4">
                <a href="#">
                    <button class="text-white py-3 px-6 rounded-full text-lg transition-transform duration-500 transform hover:scale-105" style="background-color: #0f0d0d;">Podcast</button>
                </a>
            </div>
        </div>
    </div>
    <div class="flex flex-col space-y-20 sm:flex-row sm:space-x-20 items-center justify-center sm:divide-x sm:divide-gray-500 sm:p-40">
        <div class="flex flex-col space-y-8 items-center sm:pr-44">
            <h class="text-white text-4xl">Bize Ulaşın!</h>
              <input type="text" name="name" id="name" class="block w-96 rounded-md border-0 py-1.5 pl-8 pr-8 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" placeholder="İsim - Soyisim">
              <input type="text" name="name" id="name" class="block w-96 rounded-md border-0 py-1.5 pl-8 pr-8 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" placeholder="E-mail">
              <input type="text" name="name" id="name" class="block w-96 rounded-md border-0 py-1.5 pl-8 pr-8 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" placeholder="Telefon Numarası">
              <input type="text" name="name" id="name" class="block w-96 h-44 rounded-md border-0 py-1.5 pl-8 pr-8 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" placeholder="Mesajınız">
        </div>
        <div class="flex-col flex justify-center items-center  space-y-20 sm:space-y-8 pb-40 sm:pl-44">
            <div class="rounded-full flex flex-col sm:flex-row justify-center items-center sm:p-4 sm:h-52" style="background-color: #141414;">
                <img src="{% static "mainapp/img/huseyin-urak.png" %}" class="h-48 w-48 rounded-full p-4">
                <div class="flex flex-col space-y-4 text-left p-8 sm:pr-8">
                    <p class="text-white flex justify-center sm:justify-start items-center text-2xl">Hüseyin Urak</p>
                    <p class="text-white flex items-center text-lg sm:text-xl text-center">Bilgisayar Mühendisliği 3. Sınıf</p>
                    <p class="text-white flex items-center sm:text-lg italic sm:justify-start justify-center">Back-end Developer</p>
                    <div class="flex flex-row space-x-4 justify-center sm:justify-start p-1">
                        <a href="mailto:huseyinurak@gmail.com"><img src="{% static "mainapp/img/mail.png" %} "class="h-6 w-6"></a>
                        <a href="https://www.linkedin.com/in/huseyinurak/"><img src={% static "mainapp/img/linkedin.png" %} class="h-6 w-6"></a>
                    </div>
                </div>
            </div>
            <div class="rounded-full flex flex-col sm:flex-row justify-center items-center sm:p-4 sm:h-52 h-" style="background-color: #141414;">
                <img src="{% static "mainapp/img/ozge-yilmaz.png" %}" class="h-48 w-48 rounded-full p-4">
                <div class="flex flex-col space-y-4 text-left p-8 sm:pr-8">
                    <p class="text-white flex justify-center sm:justify-start items-center text-2xl">Özge Yılmaz</p>
                    <p class="text-white flex items-center text-lg sm:text-xl text-center">Bilgisayar Mühendisliği 3. Sınıf</p>
                    <p class="text-white flex items-center sm:text-lg italic sm:justify-start justify-center">Front-end Developer</p>
                    <div class="flex flex-row space-x-4 justify-center sm:justify-start p-1">
                        <a href="mailto:ozgeylmaz52@gmail.com"><img src="{% static "mainapp/img/mail.png" %}" class="h-6 w-6"></a>
                        <a href="https://www.linkedin.com/in/%C3%B6zge-yilmaz0/"><img src="{% static "mainapp/img/linkedin.png" %}"  class="h-6 w-6"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col space-y-20 sm:flex-row justify-center sm:items-center sm:space-x-64 p-20 w-full text-white text-lg" style="background-color: #141414;">
        <div class="flex flex-col space-y-4">
            <h class="text-xl pb-2">Bağlantılar</h>
            <a href ="{% url 'index' %}"><p class="transform transition-transform hover:translate-x-4 delay-100">Ana Sayfa</p></a>
            <a href ="{% url 'source' %}"><p class="transform transition-transform hover:translate-x-4 delay-100">Kaynak Havuzu</p></a>
        </div>
        <div class="flex flex-col space-y-4">
            <h class="text-xl pb-2">Hizmetimiz</h>
            <p class="w-64 sm:w-96">SourceFilt, seviyenize en uygun 
                kaynaklara kolayca erişmenizi 
                sağlayan bir kaynak havuzudur. 
                Farklı branşlarda ve seviyelerde 
                kaynakları bir araya getirerek, 
                ihtiyaçlarınıza uygun olanları 
                bulmanızı kolaylaştırır.</p>
        </div>
        <div class="flex flex-col space-y-4">
            <h class="text-xl pb-2">Abone Olun</h>
            <input type="text" name="name" id="name" class="block w-60 rounded-md border-0 py-1.5 pl-8 pr-8 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" placeholder="E-mail">
            <button class="text-white w-24 p-2 rounded-full text-lg transition-transform duration-500 transform hover:scale-105" style="background-color: #0f0d0d;">Gönder</button>
        </div>
    </div>
    
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const animatedWord = document.getElementById('animated-word');
        const word = animatedWord.innerText;
        animatedWord.innerText = '';
        function typeWriterEffect(word, index) {
            if (index < word.length) {
                animatedWord.innerHTML += word.charAt(index);
                index++;
                setTimeout(() => {
                    typeWriterEffect(word, index);
                }, 100);
            }
        }
        typeWriterEffect(word, 0);
    });
</script>

    <script>
        function toggleList() {
            var list = document.getElementById("userList");
    
            if (list.style.display === "none" || list.style.display === "") {
                list.style.display = "block";
            } else {
                list.style.display = "none";
            }
        }

        function mobiletoggleList() {
            var list = document.getElementById("mobileuserList");
    
            if (list.style.display === "none" || list.style.display === "") {
                list.style.display = "block";
            } else {
                list.style.display = "none";
            }
        }
    </script>
    
</body>
</html>