<!--  
     Projenin tamamında bulunan ortak footer tasarımı
-->



<section class="info_section layout_padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info_contact">
          <h4>
            İletişim
          </h4>
          <div class="contact_link_box">
            
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                0546 634 5337
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                teambarrelay@gmail.com
              </span>
            </a>
          </div>
        </div>
        <div class="info_social">
          <a href="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_link_box">
          <h4>
            Bağlantılar
          </h4>
          <div class="info_links">
            <a class="active" href="index">
              
              Ana Sayfa
            </a>
            <a class="" href="about">
              
              Hakkımızda
            </a>
            <a class="" href="source">
              
              Kaynak Havuzu
            </a>
            <a class="" href="sndhand">
              
              Kitap Satışı
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_detail">
          <h4>
            Hizmetimiz
          </h4>
          <p>
            Kitap, video ve podcast gibi farklı türden kaynaklar arayan kişiler için akıllı filtreleme sistemi ile zamandan tasarruf edilmesi sağlanır.
          </p>
        </div>
      </div>
      <div class="col-md-3 mb-0">
        <h4>
          Abone Ol
        </h4>
        <form action="#">
          <input type="text" placeholder="E-mail Adresi" />
          <button type="submit">
            Gönder
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<footer class="footer_section">
  <div class="container">
    <p>
      &copy; <span id="displayYear"></span> All Rights Reserved By
      <a href="https://html.design/">Html Templates</a>
    </p>
  </div>
</footer>