{% load static %}
<!--  
     Projenin tamamında bulunan ortak navbar tasarımı
-->

<nav class="navbar navbar-expand-lg custom_nav-container ">
     <a class="navbar-brand" href="index">
       <img src="{% static 'mainapp/img/lg.png' %}" alt="logo" style="width: 90px;">
     </a>

     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav  ml-auto">

         <li class="nav-item active">
           <a class="nav-link" href="index">Ana Sayfa <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="about"> Hakkımızda</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="source">Kaynak Havuzu</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="sndhand">Kitap Satışı</a>
         </li>


       </ul>

       {% if user.is_authenticated %}

        <div class="quote_btn-container">
          <form class="form-inline">
            <p class="btn" href="sndhand">Merhaba, {{user.first_name|title}}</p>
            <button class="btn " type="submit">
              <a class="" href="{% url 'logout' %}" aria-hidden="true">Oturumu Kapat</a>
            </button>
          </form>
        </div>
       {% else %}
        <div class="quote_btn-container">
          <form class="form-inline">
            <button class="btn " type="submit">
              <a class="" href="{% url 'login' %}" aria-hidden="true">Oturum Aç</a>
            </button>
            <button class="btn " type="submit">
              <a class="" href="{% url 'register' %}" aria-hidden="true">Kayıt Ol</a>
            </button>
          </form>
        </div>
       {% endif %}

       
     </div>
</nav>